/*********************************/
/*HEADER*/
/*********************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7dbc57;
  /* Because we want header to be sticky later */
  height: 11.4rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}

.logo-at-home {
  color: #2d5215;
}

/*********************************/
/*NAVIGATION*/
/*********************************/
.header {
  display: flex;
  gap: 4.5rem;
}

.main-nav-patient-list {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 5rem;
}

.nav-icon {
  color: #2d5215;
  height: 3rem;
  width: 3rem;
}

.main-patient-nav-link {
  color: #2d5215;
  display: inline-block;
  transition: all 0.1s;
}

.main-patient-nav-link:hover,
.main-patient-nav-link:active {
  color: #000;
  font-size: 2.4rem;
}

.icon-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*********************************/
/*BLOOD GLUCOSE DATA INPUT*/
/*********************************/
.blood-glucose-head {
  font-size: 3rem;
  font-weight: 500;
  color: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7.2rem auto;
}

.blood-glucose-icon {
  color: #f03e3e;
  font-size: 4.4rem;
}

.blood-glucose-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.blood-glucose-data div label,
.bg-comment-input p {
  display: block;
  color: #10454f;
  font-size: 2.5rem;
  font-weight: 400;
}

.blood-glucos-input,
.bg-comment-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.blood-glucos-input input,
.bg-comment-input textarea {
  background-color: #eaf4e4;
}

.blood-glucos-input input {
  width: 24rem;
  height: 7rem;
  font-size: 3rem;
  text-align: center;
  border: 3px solid #91c358;
}

.bg-comment-input textarea {
  width: 51rem;
  height: 11rem;
  font-size: 2.5rem;
}

.bg-comment-input textarea::placeholder {
  text-align: center;
}

.blood-glucose-data *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(177, 215, 154, 0.5);
}

/*********************************/
/*BLOOD GLUCOSE REMINDER*/
/*********************************/
.glucose-reminder {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 45rem;
  margin: 7.2rem auto;
}

.glucose-reminder li {
  font-size: 1.5rem;
  color: #495057;
}

.glucose-reminder li span {
  color: #7dbc57;
  font-weight: 600;
}
