/*

- FONT WEIGHTS:
Default: 400
Medium: 
Semi-bold: 600
Bold: 

- LINE HEIGHTS:
Default: 1
small: 
Medium: 
Large: 
Paragraph default: 1.6

- Letter spacing::after

----02 COLORS

- Primary: #7DBC57 #fff #10454F
-Icon: #f03e3e #2d5215

- Tints:  #EAF4E4 #95d04f #dff1ca #b1d79a
- Shades: #1eb75b #2d5215 #000000
- Accents:
- Greys  #343a40 #495057 #868e96

----05 SHADOWS
 

----06 BORDER-RADIUS
Default: 
Medium: 

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  gap: 4.5rem;
}

a:link,
a:visited {
  text-decoration: none;
}

input {
  border: none;
  border-radius: 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

textarea {
  border: none;
  border-radius: 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.arrow-back {
  color: white;
  width: 3rem;
  height: 3rem;
}

.main-nav-general-list {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 5rem;
}

.nav-icon {
  color: #2d5215;
  height: 3rem;
  width: 3rem;
}

.main-general-nav-link {
  color: #2d5215;
  display: inline-block;
  transition: all 0.3s;
}

.icon-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-general-nav-link:hover,
.main-general-nav-link:active {
  color: #000000;
  font-size: 2.1rem;
}

.btn {
  border: none;
  cursor: pointer;
  border-radius: 100px;
}

.btn--done {
  background-image: linear-gradient(to right, #1eb75b, #95d04f);
  width: 19rem;
  height: 5.8rem;
  font-size: 3rem;
  font-weight: 500;
  color: white;
  transition: all 0.3s;
}

.btn--done:hover,
.btn--done:active {
  color: #dff1ca;
}

ul {
  list-style: none;
}
