/*

- FONT WEIGHTS:
Default: 400
Medium: 
Semi-bold: 600
Bold: 

- LINE HEIGHTS:
Default: 1
small: 
Medium: 
Large: 
Paragraph default: 1.6

- Letter spacing::after

----02 COLORS

- Primary: #7DBC57 #fff #10454F
-Icon: #f03e3e #2d5215

- Tints:  #EAF4E4 #95d04f #dff1ca #b1d79a
- Shades: #1eb75b #2d5215 #000000
- Accents:
- Greys  #343a40 #495057 #868e96

----05 SHADOWS
 

----06 BORDER-RADIUS
Default: 
Medium: 

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

/*********************************/
/*HEADER*/
/*********************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Because we want header to be sticky later */
  height: 11.4rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
}

.main-general-nav-link {
  display: inline-block;
  transition: all 0.3s;
}

.main-nav-general-list {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 5rem;
}

.main-general-nav-link:hover,
.main-general-nav-link:active {
  color: #000000;
  font-size: 2.1rem;
}

/*********************************/
/*FOOTER*/
/*********************************/
footer {
  height: 19.6rem;
  display: flex;
}

.col--1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.col--2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grid--footer {
  column-gap: 50rem;
  align-items: center;
  justify-items: center;
}

.copy-right {
  font-size: 1.2rem;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.address li {
  font-size: 1.8rem;
}

/*********************************/
/*GRID*/
/*********************************/

.grid {
  display: grid;
}

.grid--2 {
  grid-template-columns: repeat(2, 1fr);
}

/*********************************/
/*OTHER LAYOUT*/
/*********************************/

.viewport {
  height: 100vh;
}

.container {
  max-width: 192rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/*********************************/
/*ANCHORS & LIST*/
/*********************************/
a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*********************************/
/*INPUTS*/
/*********************************/
input {
  border: none;
  border-radius: 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

textarea {
  border: none;
  border-radius: 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/*********************************/
/*ICONS*/
/*********************************/
.arrow-back {
  color: white;
  width: 3rem;
  height: 3rem;
}

.nav-icon {
  height: 3rem;
  width: 3rem;
}

.icon-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*********************************/
/*BUTTONS*/
/*********************************/
.btn {
  border: none;
  cursor: pointer;
  border-radius: 100px;
}

.btn--done {
  background-image: linear-gradient(to right, #1eb75b, #95d04f);
  width: 19rem;
  height: 5.8rem;
  font-size: 3rem;
  font-weight: 500;
  color: white;
  transition: all 0.3s;
}

.btn--done:hover,
.btn--done:active {
  color: #dff1ca;
}
