body {
  font-family: Poppins;
  /* page layout - desktop version */
  margin: 0%;
  display: grid;
  grid-template-columns: 10% 90% 10%;
  grid-template-rows: 250px auto 10%;

  grid-template-areas:
    "header header header"
    "aside main nav"
    "footer footer footer";
  color: #1f2b5a;
}

main {
  padding-right: 30px;
}

header {
  background-color: #5e8db7;
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

nav {
  grid-area: nav;
}

footer {
  grid-area: footer;
}

div {
  margin: 0;
  padding: 0;
}

.rounded-rectangle {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

iframe {
  border-radius: 10px;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 9%;
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {
  list-style: "-";
}

.web_header {
  background-color: #5e8db7;
  display: flex;
  padding-top: 5%;
  padding-left: 2%;
  flex-direction: row;
}

.web_footer {
  background-color: #5e8db7;
  display: flex;
  padding-top: 5%;
  padding-bottom: 15%;
  flex-direction: row;
}

.header_logo {
  color: white;
  /* margin-left: 3%; */
  font-size: 18px;
  flex-direction: column;
}

.footer_logo {
  color: white;
  margin-left: 6%;
  margin-top: 5%;
  font-size: 18px;
}

.copyright {
  color: #1f2b5a;
  font-size: 0.5px;
}


.footer_info {
  font-size: 4px;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 6%;
  /* padding-right: %; */
  text-align: left;
}

.footer_info_title {
  font-weight: bold;
}

.logo_at_home {
  color: #1f2b5a;
  font-weight: bold;
}



#img_return {
  margin-left: 2%;
}


#img_guest {
  margin-right: 5%;
}

#img_menu {
  margin-right: 10px;
  text-align: right;
}

#div_h1 {
  background-color: #5e8db7;
}

@media screen and (max-width: 380px) {

  /* page layout for phones */
  body {
    /* display: flex;
        flex-direction: column; */
    grid-template-rows: 120px auto 10%;
  }

  .p_logo_string {
    color: white;
    margin-left: 2%;
    font-size: 20px;
    margin-top: 0%;
  }

  #img_return {
    height: 30px;
    width: 17px;
  }

  #img_guest {
    margin-left: 15%;
    margin-right: 0;
    margin-top: 1.5%;
    height: 20px;
    width: 60px;
  }

  #img_menu {
    margin-left: 2%;
    margin-right: 0;
    margin-top: 1.5%;
    height: 20px;
    width: 30px;
  }

  .other-links {
    list-style: none;
    padding-left: 0px;
  }

  .other-links img {
    display: block;
    margin: 0 auto;
    padding-bottom: 21px;
  }
}