/* element selector */

div {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Poppins;
    display: block;
    font-size: 2em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #1F2B5A;
    padding-top: 1%;
    padding-bottom: 1%
}

body { /* page layout - desktop version */
    margin: 0%;
    display: grid;
    grid-template-columns: 10% 90% 10%;
    grid-template-rows: 10% auto 10%;

    grid-template-areas: 
        "header header header"
        "aside main nav"
        "footer footer footer";
    }

header {
    background-color: #5E8DB7;
    grid-area: header;
}
aside {grid-area: aside;}
main {grid-area: main;}
nav {grid-area: nav;}
footer {grid-area: footer;}


div {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Poppins;
    display: block;
    font-size: 2em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #1F2B5A;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left:9%;
}

h2 {
    font-family: Poppins;
    color: #1F2B5A;
}

p {
    font-family: Poppins;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #1F2B5A;
}

ul {
    color: #1F2B5A;  
}


li {
    color: #1F2B5A;
}

/* Class Selector */
.div_header_and_footer {
    background-color: #5E8DB7;
    display: flex;
    padding-top: 5%;
    padding-left: 2%;
}

.p_logo_string {
    font-family: Poppins;
    color: white;
    margin-right: 30%;
    font-size: 1.5em;
    margin-top: -2%;
}

.span_logo_at_home {
    color: #1F2B5A;
}

/* ID Selector */
#span_at_home {
    color: #1F2B5A;
}

#svg_guest {
    margin-left: 30%;
}

#svg_three_lines {
    margin-left: 5%;
}

#div_h1 {
    background-color: #5E8DB7;
}

@media screen and (max-width: 375px) {  /* page layout for phones */
    body {
        display: flex;
        flex-direction: column;
    }

    #arrowback{
        width: 1000px;
        size: fix;
    }
}