<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/css/patient_general.css' />
    <link rel='stylesheet' href='/css/blood_glucose_style.css' />

    <script
      type='module'
      src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js'
    ></script>
    <script
      nomodule
      src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js'
    ></script>

    <script defer src='/script/mobileNav.js'></script>

    <script>
      function renderCurrrentColor() {
        currentColor = document.cookie
        .split(";")
        .find(el => el.startsWith(" currentColor"))
        .split("=")[1];
        if (currentColor === "green") {
          document.documentElement.style.setProperty('--light_color', '#7dbc57');
          document.documentElement.style.setProperty('--dark_color', '#2d5215');
          document.documentElement.style.setProperty('--bg_color', '#eaf4e4');
        } else if (currentColor === "blue") {
          document.documentElement.style.setProperty('--light_color', '#5e8db7');
          document.documentElement.style.setProperty('--dark_color', '#202b5a');
          document.documentElement.style.setProperty('--bg_color', '#CBE2F8');
        } else {
          document.documentElement.style.setProperty('--light_color', '#7dbc57');
          document.documentElement.style.setProperty('--dark_color', '#2d5215');
          document.documentElement.style.setProperty('--bg_color', '#eaf4e4');
        }
      }
      renderCurrrentColor();
      function changeTheme() {
        // setting ajax request
        const xhr = new XMLHttpRequest();
        xhr.open('POST', "/patient/changeTheme");
        // Set the request header so that the requestor can read urlencoded data
        xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        xhr.send("colorchange=blue"); // 1 means change the color
        
        const root = getComputedStyle(document.documentElement);
        let themeColor; 
        xhr.onreadystatechange = function(){
          if (xhr.readyState === 4) {
            if (xhr.status >= 200 && xhr.status < 300) {
              themeColor = xhr.response;
              var now=new Date();
              now.setDate(now.getDate()+1);
              document.cookie = "currentColor="+themeColor+";expires="+now.toString()+";path=/";
              if (themeColor === "green") {
                document.documentElement.style.setProperty('--light_color', '#7dbc57');
                document.documentElement.style.setProperty('--dark_color', '#2d5215');
                document.documentElement.style.setProperty('--bg_color', '#eaf4e4');
              } else if (themeColor === "blue") {
                document.documentElement.style.setProperty('--light_color', '#5e8db7');
                document.documentElement.style.setProperty('--dark_color', '#202b5a');
                document.documentElement.style.setProperty('--bg_color', '#CBE2F8');
              } else {
                  console.log("not change the theme.")
              }

            }
          }
        }
      }
    </script>

    <title>{{title}}</title>
  </head>

  <body>
    <!-- nav-open -->
    <header class='header'>
      <a class='web-logo' href='#'>
        <p class='logo'>
          Diabetes@<span class='logo-at-home'>Home</span>
        </p>
      </a>

      <nav class='main-nav'>
        <ul class='main-nav-list'>
          <li class='icon-link'>
            <ion-icon class='nav-icon' name='medkit'></ion-icon>
            <a class='main-nav-link' href='/patient/about-diabetes'>About
              diabetes</a>
          </li>
          <li class='icon-link'>
            <ion-icon class='nav-icon' name='people'></ion-icon>
            <a class='main-nav-link' href='/patient/about-website'>About website</a>
          </li>
          <li class='icon-link'>
            <ion-icon class='nav-icon' name='color-palette'></ion-icon>
            <button class='main-nav-link theme_btn' onclick="changeTheme()">Setting theme</button>
          </li>
          <li class='icon-link'>
            <ion-icon class='nav-icon' name='key'></ion-icon>
            <a class='main-nav-link' href='#'>Setting password</a>
          </li>
          <li class='icon-link'>
            <ion-icon class='nav-icon' name='log-out'></ion-icon>
            <a class='main-nav-link' href='#'>Log out</a>
          </li>
        </ul>
      </nav>

      <button class='btn-mobile-nav'>
        <ion-icon class='icon-mobile-nav' name='menu-outline'></ion-icon>
        <ion-icon class='icon-mobile-nav' name='close-outline'></ion-icon>
      </button>
    </header>

    {{{body}}}

    <footer>
      <div class='container grid grid--2 grid--footer'>
        <div class='col--1'>
          <a class='web-footer-logo' href='#'>
            <p class='logo'>Diabetes@<span class='logo-at-home'>Home</span></p>
          </a>
          <p class='copy-right'>&copy;2022 Diabetes Home, Inc.</p>
        </div>
        <ul class='col--2 address'>
          <li><strong>Address:</strong> 813 Swanston St, Parkville VIC 3052</li>
          <li><strong>Located in:</strong> University of Melbourne</li>
          <li><strong>Phone:</strong> (03)9035 5511</li>
        </ul>
      </div>
    </footer>
  </body>
  

</html>