<link rel="stylesheet" href="/css/About_Pages_Style.css" />
<main class="website">
  <div class="subheader"><h1>The Best Diabetes Monitor
      <br />in Australia</h1></div>

  <h2>About Website</h2>
  <p>
    This website is created to help patients record their daily health data. It
    can help our clinicians to monitor patients’ data to give them suggestions.
  </p>

  <h2>Current Patient</h2>
  <p>
    For current patient, click the
    <a href="#">login</a>
    button and sign in to your account to access more features. If you do not
    have an account, please contact your clinician.
  </p>

  <h2>Our Webteam</h2>
  <div class="team-image">
    <div class="member">
      <img
        class="image1"
        src="../img/Xiaotong Wang.png"
        width="94"
        alt="Xiaotong Wang"
      />
      <p>
        <strong>Project Manager</strong>
      </p>
      <p>Xiaotong Wang</p>
    </div>
    <div class="member">
      <img class="image1" src="/img/Zihan Yu.png" width="94" alt="Zihan Yu" />
      <p>
        <strong>Web developer</strong>
      </p>
      <p>Zihan Yu</p>
    </div>
    <div class="member">
      <img
        class="image1"
        src="../img/Yingxi Luo.JPG"
        width="94"
        alt="Yingxi Luo"
      />
      <p>
        <strong>Web developer</strong>
      </p>
      <p>Yingxi Luo</p>
    </div>
    <div class="member yingxi">
      <img
        class="image1"
        src="../img/Jiashi Wang.png"
        width="94"
        alt="Jiashi Wang"
      />
      <p>
        <strong>Web developer</strong>
      </p>
      <p>Jiashi Wang</p>
    </div>
  </div>
</main>