<link rel='stylesheet' href='/css/add_patient.style.css' />
{{!-- <script defer src='../script/add_patient.js'></script> --}}

<main class='main'>
  <div class='overlay disappear'></div>
  <div class='breadcrumbs'>
    <h1 class='normal-weight'><a href='/clinician'>Dashboard</a></h1>
    <svg xmlns='http://www.w3.org/2000/svg' class='chevron-right' fill='none' viewBox='0 0 24 24' stroke='currentColor'
      stroke-width='2'>
      <path stroke-linecap='round' stroke-linejoin='round' d='M9 5l7 7-7 7'></path>
    </svg>
    <h1>Register Patient</h1>
  </div>

  <form action='/clinician/add-patient' class='register-area' method='POST'>
    <div class='upload-photo'>
      <img class='clinician-profile-photo' src='../img/profile-photo/patientF.png' alt='load fail' title='Anna' />
      <label class='btn btn-upload'>
        <input type='file' name='img' accept='img/*' />
        Upload
      </label>
    </div>

    <div class='patient-details'>
      <label for='first-name'>
        <input id='first-name' type='text' placeholder='First Name' name='first_name' required />
      </label>
      <label for='last-name'>
        <input id='last-name' type='text' placeholder='Last Name' name='last_name' required />
      </label>
      <label for='email'>
        <input id='email' type='email' placeholder='Email' name='email' required />
      </label>
      <label for='phone-number'>
        <input id='phone-number' type='number' placeholder='Phone Number' name='phone_number' required />
      </label>
      <label for='year-birth'>
        <input id='year-birth' type='number' placeholder='Year of Birth' name='year_birth' required />
      </label>
      <label for='street'>
        <input id='street' type='text' placeholder='Street Address' name='street' />
      </label>
      <label for='postal'>
        <input id='postal' type='number' placeholder='Postal Code' name='postal' />
      </label>
      <label for='city'>
        <input id='city' type='text' placeholder='City' name='city' required />
      </label>
    </div>

    <button type="submit" class='btn btn-register'>Register</button>

  </form>

  <div class='account-password disappear'>
    <btn class='btn btn-close'>
      <svg xmlns='http://www.w3.org/2000/svg' class='close' fill='none' viewBox='0 0 24 24' stroke='currentColor'
        stroke-width='2'>
        <path stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6M6 6l12 12'></path>
      </svg>
    </btn>
    <h1 class='message'>Register successfully!</h1>
    <p>Account: {{this.email}}</p>
    <p>Password: {%PASSWORD%}</p>
  </div>
</main>