<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/css/blood_glucose_style.css" />
<link rel="stylesheet" href="/css/blood_glucose_queries.css" />

<section>
  <div class="container">
    <h2 class="blood-glucose-head"><span
        class="material-icons blood-glucose-icon"
      >bloodtype</span>Blood glucose level</h2>
    <form class="blood-glucose-data" name="blood-glucose">
      <div class="blood-glucos-input">
        <label for="data">Input Here</label>
        <input
          id="blood-glucose"
          type="number"
          step="0.1"
          placeholder="in nmol/L"
          name="patinet_blood_glucose"
          required
        />
      </div>

      <div class="bg-comment-input">
        <p>Comment:</p>
        <textarea
          rows="5"
          cols="30"
          name="glucose_comment"
          placeholder="How do you feel today:)"
        ></textarea>
      </div>
      <button class="btn btn--done" type="button">Done</button>
    </form>

    <ul class="glucose-reminder">
      <li>For your health, you have kept recording for
        {{#with onePatient}}<span>{{this.insistDay}}</span>{{/with}}
        days.</li>
      <li>Keep recording, control diabetes, and enjoy wonderful life!</li>
    </ul>

  </div>
</section>