<link rel='stylesheet' href='/css/change_password.css' />

<main class='main'>
  <form>
    <label for='currentPassword'>Your current password:</label>
    <input name='currentPassword' type='password' required />
    <label for='newPassword'>Your new password:</label>
    <input name='newPassword' type='password' required />
    <button class='btn btn--done' type='submit'>Done</button>
  </form>
</main>