<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/clinician_login.css' />
  </head>

  <main>
    <img src='/img/clinician_login.png' />
    <div>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='61'
        height='61'
        viewBox='0 0 61 61'
      >
        <g id='yisheng' transform='translate(-112.357 -67.13)'>
          <path
            id='Path_103'
            data-name='Path 103'
            d='M155.4,104.071a16.451,16.451,0,0,0,6.412-12.811v-16.6a1.805,1.805,0,0,0-.526-1.782c-3.807-3.548-10.989-5.75-18.742-5.75-7.3,0-14.025,1.932-17.987,5.17,0,0,0,0,0,.005A1.935,1.935,0,0,0,123.5,73.98V91.261a16.467,16.467,0,0,0,6.5,12.881c-9.64,2.807-16.648,10.469-17.626,19.821a3.575,3.575,0,0,0,1.086,2.916,4.5,4.5,0,0,0,3.147,1.251h52.5a4.5,4.5,0,0,0,3.146-1.251,3.579,3.579,0,0,0,1.087-2.92C172.354,114.558,165.113,106.812,155.4,104.071Zm2.017-29.005V87.847a35.343,35.343,0,0,0-14.807-2.87A35.658,35.658,0,0,0,127.9,87.823V74.945c3.23-2.421,8.638-3.867,14.642-3.867C148.583,71.079,154.258,72.631,157.413,75.065ZM127.958,92.316l.066.075c3-2.138,8.583-3.465,14.581-3.465,6.118,0,11.832,1.411,14.736,3.6-.713,6.718-7.024,11.99-14.685,11.99-7.74,0-14.095-5.382-14.7-12.2Zm-11.189,31.865c.752-6.615,5.367-12.328,11.775-15.219a11.8,11.8,0,0,0-.686,3.928v1.023a4.027,4.027,0,0,0-2.233,3.5,4.587,4.587,0,0,0,9.122,0,4.067,4.067,0,0,0-2.493-3.631v-.9a8.464,8.464,0,0,1,2.228-5.668c.223-.034.44-.08.665-.108.017,0,.031-.008.048-.01a21.156,21.156,0,0,0,14.907.007,8.453,8.453,0,0,1,2.321,5.779v.851a3.992,3.992,0,0,0-2.272,3.5v2.423a1.842,1.842,0,0,0,3.662,0V117.24a.761.761,0,0,1,.494-.692,2.462,2.462,0,0,0,.313.028,2.384,2.384,0,0,0,.36-.033.763.763,0,0,1,.5.7v2.423a1.842,1.842,0,0,0,3.662,0V117.24a4,4,0,0,0-2.327-3.526v-.825a11.817,11.817,0,0,0-.882-4.445c7.062,2.663,12.2,8.615,13.011,15.735H116.769Zm13.417-7.57a.811.811,0,1,1-.9.806A.857.857,0,0,1,130.185,116.611Z'
            transform='translate(0)'
            fill='#2264b1'
          ></path>
          <path
            id='Path_104'
            data-name='Path 104'
            d='M439.741,166.6h.657v.657a1.181,1.181,0,1,0,2.362,0V166.6h.657a1.181,1.181,0,0,0,0-2.362h-.657v-.657a1.181,1.181,0,1,0-2.362,0v.657h-.657a1.181,1.181,0,1,0,0,2.362Z'
            transform='translate(-298.712 -91.365)'
            fill='#2264b1'
          ></path>
        </g>
      </svg>
      <svg
        id='Component_2_12'
        data-name='Component 2 – 12'
        xmlns='http://www.w3.org/2000/svg'
        width='210'
        height='61'
        viewBox='0 0 210 61'
      >
        <g id='Path_1' data-name='Path 1' fill='#e5ebef'>
          <path
            d='M 186.994384765625 58.5 L 23.00561141967773 58.5 C 17.66391754150391 58.5 12.59552764892578 55.68063735961914 8.73408317565918 50.56130599975586 C 6.791416645050049 47.98580551147461 5.262444496154785 44.97486114501953 4.189610958099365 41.61214065551758 C 3.068472146987915 38.09791564941406 2.5 34.35927963256836 2.5 30.5 C 2.5 26.64072227478027 3.068472146987915 22.9020824432373 4.189610958099365 19.38786125183105 C 5.262444496154785 16.02513885498047 6.791416645050049 13.01419448852539 8.73408317565918 10.43869400024414 C 12.59552764892578 5.319361209869385 17.66391754150391 2.5 23.00561141967773 2.5 L 186.994384765625 2.5 C 192.3360900878906 2.5 197.4044647216797 5.319361209869385 201.2659149169922 10.43869400024414 C 203.2085876464844 13.01419448852539 204.737548828125 16.02513885498047 205.8103942871094 19.38786125183105 C 206.9315338134766 22.9020824432373 207.5 26.64072227478027 207.5 30.5 C 207.5 34.35927963256836 206.9315338134766 38.09791564941406 205.8103942871094 41.61214065551758 C 204.737548828125 44.97486114501953 203.2085876464844 47.98580551147461 201.2659149169922 50.56130599975586 C 197.4044647216797 55.68063735961914 192.3360900878906 58.5 186.994384765625 58.5 Z'
            stroke='none'
          ></path>
          <path
            d='M 23.00563049316406 5 C 18.46725463867188 5 14.10765075683594 7.466156005859375 10.72996520996094 11.94418716430664 C 8.957473754882812 14.29409408569336 7.558319091796875 17.05415725708008 6.57135009765625 20.14772033691406 C 5.5286865234375 23.41593933105469 5 26.8989372253418 5 30.5 C 5 34.1010627746582 5.5286865234375 37.58406066894531 6.57135009765625 40.85227966308594 C 7.558319091796875 43.94584655761719 8.957473754882812 46.70590591430664 10.72996520996094 49.05581283569336 C 14.10765075683594 53.53384399414062 18.46725463867188 56 23.00563049316406 56 L 186.9943695068359 56 C 191.5327453613281 56 195.8923492431641 53.53384399414062 199.2700347900391 49.05581283569336 C 201.0425262451172 46.70590591430664 202.4416809082031 43.94584655761719 203.4286499023438 40.85227966308594 C 204.4713134765625 37.58406066894531 205 34.1010627746582 205 30.5 C 205 26.8989372253418 204.4713134765625 23.41593933105469 203.4286499023438 20.14772033691406 C 202.4416809082031 17.05415725708008 201.0425262451172 14.29409408569336 199.2700347900391 11.94418716430664 C 195.8923492431641 7.466156005859375 191.5327453613281 5 186.9943695068359 5 L 23.00563049316406 5 M 23.00563049316406 0 L 186.9943695068359 0 C 199.7000274658203 0 210 13.65531158447266 210 30.5 C 210 47.34468841552734 199.7000274658203 61 186.9943695068359 61 L 23.00563049316406 61 C 10.29997253417969 61 0 47.34468841552734 0 30.5 C 0 13.65531158447266 10.29997253417969 0 23.00563049316406 0 Z'
            stroke='none'
            fill='#2264b1'
          ></path>
        </g>
        <text
          id='Clinician'
          transform='translate(25 43)'
          fill='#202b5a'
          font-size='35'
          font-family='Poppins-Bold, Poppins'
          font-weight='700'
        ><tspan x='0' y='0'>Clinician</tspan></text>
      </svg>
    </div>
    <form action='#' class='login-form' method='post'>
      <div>
        <input type='email' placeholder='Email Address' required />
        <input type='password' placeholder='Password' required />
      </div>
      <div class='rememberThisDevice-box'>
        <input
          type='checkbox'
          id='rememberThisDevice'
          name='rememberThisDevice'
          checked
        />
        <label for='rememberThisDevice'>Keep me log in on this trusted device</label>
      </div>
      <button class='btn' type='submit'>Log In</button>
    </form>
  </main>
</html>