<div class="dashboard-patient-box">

    {{#with oneItem}}


    <div class="portfolio">
        <img class="patient-photo" src="img/profile-photo/Pat.png" />
        <div class="name-and-gender">
            <button class="btn">
                <p class="name">{{this.patientName}}}</p>
            </button>
            <p>{{this.gender}}</p>
        </div>

        <p class="patient-age">Age: <span>36</span></p>
    </div>
    <table>
        <tr>
            <td>Blood glucose Level:</td>
            <td><span>180</span> nmol/L</td>
        </tr>
        <tr>
            <td>Weight:</td>
            <td><span>65</span> kg</td>
        </tr>
        <tr>
            <td>Insulin taken:</td>
            <td><span>3</span> doses</td>
        </tr>
        <tr>
            <td>Exercise:</td>
            <td><span>5000</span> steps</td>
        </tr>
    </table>

    {{/with}}
</div>