<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='../css/guest.css' />

  </head>

  <main>
    <img src='/img/landing_page.png' />
    <div class='content'>
      <h2>YOUR PERSONALIZED HEALTH TRACKER</h2>
      <h1>Welcome <br />to Diabetes@Home</h1>
      <a class='btn' href='/guest/login'>For patient</a>
      <a class='btn' href='#'>For clinician</a>
    </div>

  </main>
</html>