<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/patient_general.css" />
    <link rel="stylesheet" href="../css/patient/patient_log_in.css" />

    <title>Log in</title>
  </head>
  <body>
    <!-- nav-open -->
    <header class="header nav-open">
      <div class="back-logo">
        <a href="#"><ion-icon
            class="arrow-back"
            name="chevron-back"
          ></ion-icon></a>
        <a class="web-logo" href="#"><p class="logo">
            Diabetes@<span class="logo-at-home">Home</span>
          </p></a>
      </div>
    </header>

    <main>
      <div class="patient-logo">
        <embed src="../img/svg/patient-login-logo.svg" />
        <div class="patient-word-logo">patient</div>
      </div>
      <div class="login-box">
        <form action="/guest/login" class="login-form" method="post">
          <div>
            <input type="email" placeholder="Email Address" name="email" />
            <input type="password" placeholder="Password" name="password" />
          </div>
          <div class="rememberThisDevice-box">
            <input
              type="checkbox"
              id="rememberThisDevice"
              name="rememberThisDevice"
              checked
            />
            <label for="rememberThisDevice">Keep me log in on this trusted
              device</label>
          </div>
          <button href='/patient/{{this.id}}' type="submit">Log In</button>
        </form>

        <embed src="../img/svg/or.svg" />
        <div class="need_to_register">
          <p>Need to register? </p>
          <p>Contact with your clinician</p>
        </div>
        <a href="#">Forget the password?</a>

      </div>
    </main>

    <footer>
      <div class="container grid grid--2 grid--footer">
        <div class="col--1">
          <a class="web-footer-logo" href="#">
            <p class="logo">Diabetes@<span class="logo-at-home">Home</span></p>
          </a>
          <p class="copy-right">&copy;2022 Diabetes Home, Inc.</p>
        </div>

        <ul class="col--2 address">
          <li><strong>Address:</strong> 813 Swanston St, Parkville VIC 3052</li>
          <li><strong>Located in:</strong> University of Melbourne</li>
          <li><strong>Phone:</strong> (03)9035 5511</li>
        </ul>
      </div>
    </footer>
  </body>
</html>