<link rel="stylesheet" href="/css/patient/patient_Clinician.css">

<main>
  <nav class="main-nav-left">
    <ul class="main-nav-left-list">
      <div class="main-nav-left-shade"></div>
      <li class="svg-link">
        <embed src="/img/svg/data-icon.svg" type="image/svg+xml" />
        <a class="main-nav-left-link" href="data">Data</a>
      </li>
      <li class="svg-link">
        <embed src="/img/svg/clinician-icon.svg" type="image/svg+xml" />
        <a class="main-nav-left-link" href="clinician">Clinician</a>
      </li>
      <li class="svg-link home-li">
        <embed src="/img/svg/home-icon.svg" type="image/svg+xml" />
        <a class="main-nav-left-link home-text" href="http://localhost:8080/patient">Home</a>
      </li>
      <li class="svg-link">
        <embed src="/img/svg/ranking-icon.svg" type="image/svg+xml" />
        <a class="main-nav-left-link" href="ranking">Ranking</a>
      </li>
      <li class="svg-link">
        <embed src="/img/svg/me-icon.svg" type="image/svg+xml" />
        <a class="main-nav-left-link" href="me">Me</a>
      </li>
    </ul>
  </nav>

  <section class="clinician_box">
    <div class="info_box">
      <img class="info_photo" src="/img/profile-photo/clinicianA.png">
      <div class="info_right_box">
        <div class="clinician_name">Dr.Vincent</div>
        <div class="clinician_background">Clinical PhD</div>
        <div class="contact">Contact: <span>0433720249</span></div>
      </div>
    </div>
    
    <div class="spec">
      <div class="spec_header">
        Specialties
      </div>
      <div class="spec_content">
        Vincent graduated from the Department of Clinical Medicine at the University of Melbourne and studied at the University of Sydney Hospital. Specializes in the diagnosis and treatment of chronic cough, lung cancer, pulmonary nodules, chronic obstructive pulmonary disease, asthma, lung infection, bronchiectasis, pleural effusion, pulmonary embolism, respiratory failure and other diseases. He has rich experience in tracheoscopy. He has published many papers in national magazines and core science and technology magazines.
      </div>
    </div>
      
    <div class="message">
      <div class="message_header">
        Messages
      </div>
      <div class="comments-div">
        <div class="comments_date">
          15/03/2022  Tue
        </div>
        <div class="comments-box">
          <p>
            Well done Pat! Keep going! Enjoy your wonderful life 🏃‍♂️
          </p>
        </div>
      </div>
    </div>
  </section>
</main>