<link rel="stylesheet" href="/css/patient_dashboard.css" />
<link rel="stylesheet" href="/css/patient_dashboard_queries.css" />

<main class="main">
  <nav class="main-nav-left">
    <ul class="main-nav-left-list">
      <div class="main-nav-left-shade"></div>
      <li class="svg-link">
        <embed src="/img/svg/data-icon.svg" type="image/svg+xml" />
        <a class="main-nav-left-link" href="#">Data</a>
      </li>
      <li class="svg-link">
        <embed src="/img/svg/clinician-icon.svg" type="image/svg+xml" />
        <a class="main-nav-left-link" href="#">Clinician</a>
      </li>
      <li class="svg-link home-li">
        <embed src="/img/svg/home-icon.svg" type="image/svg+xml" />
        <a class="main-nav-left-link home-text" href="#">Home</a>
      </li>
      <li class="svg-link">
        <embed src="/img/svg/ranking-icon.svg" type="image/svg+xml" />
        <a class="main-nav-left-link" href="#">Ranking</a>
      </li>
      <li class="svg-link">
        <embed src="/img/svg/me-icon.svg" type="image/svg+xml" />
        <a class="main-nav-left-link" href="#">Me</a>
      </li>
    </ul>
  </nav>

  <section class="record-div">
    <div class="record-top">
      <h1>Record</h1>
      <h2 class="record-date"></h2>
    </div>
    <div class="grid grid--2 record-grid">
      <a class="record-box blood-box" href="/patient/blood_glucose">
        <embed class="blood-icon" src="/img/svg/blood-icon.svg" type="image/svg+xml" />
        <div>
          <p>Blood glucose level</p>
          <p>(in nmol/L)</p>
          <!-- <p>300 nmol/L</p> -->
        </div>
      </a>
      <a class="record-box weight-box" href="#">
        <embed class="scale" src="/img/svg/weight-icon.svg" type="image/svg+xml" />
        <div>
          <p>Weight</p>
          <p>(in kg)</p>
        </div>
      </a>
      <a class="record-box insulin-box" href="#">
        <embed class="needle" src="/img/svg/insulin-icon.svg" type="image/svg+xml" />
        <div>
          <p>Insulin taken</p>
          <p>(number of doses)</p>
        </div>
      </a>
      <a class="record-box exercise-box" href="#">
        <embed class="step" src="/img/svg/step-icon.svg" type="image/svg+xml" />
        <div>
          <p>Exercise</p>
          <p>(step count)</p>
        </div>
      </a>
    </div>
  </section>

  <section class="comments-section">
    <h1>Comments</h1>
    <div class="comments-div">
      <div class="comments-box">
        <button class="cross-button">
          <ion-icon class="cross-button-icon" name="close-outline"></ion-icon>
        </button>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
          et dolore magna aliquyam erat, sed diam voluptua. invidunt ut labore et dolore magna erat set aliquyam
          erat, sed diam voluptua.
        </p>
      </div>
    </div>
</main>