* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  line-height: 1;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
/*********************************/
/*HEADER*/
/*********************************/
.header {
  display: flex;
  height: 11.4rem;
  padding: 0 4.8rem;
  background-color: #5e8db7;
  position: relative;
  gap: 10%;
}
.web-logo {
  display: flex;
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
  margin: auto;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 2rem;
  justify-content: space-evenly;
}

.main-nav {
  align-self: center;
}

.nav-icon {
  color: #202b5a;
}

.main-nav-list {
  list-style: none;
  display: flex;
  font-size: 2rem;
  gap: 5rem;
}

.main-nav-link {
  display: inline-block;
  transition: all 0.3s;
  color: white;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #000;
  font-size: 2.1rem;
}
.icon-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-at-home {
  color: #202b5a;
}

.container {
  max-width: 192rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/*********************************/
/*ANCHORS & LIST*/
/*********************************/
a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

.icon-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-icon {
  height: 3rem;
  width: 3rem;
}

/*********************************/
/*FOOTER*/
/*********************************/
ul {
  list-style: none;
}

footer {
  height: 19.6rem;
  display: flex;
  background-color: #5e8db7;
}

.col--1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.col--2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grid--footer {
  display: flex;
  column-gap: 50rem;
  align-items: center;
  justify-items: center;
}

.copy-right {
  font-size: 1.2rem;
  color: #202b5a;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.address li {
  font-size: 1.8rem;
  color: #202b5a;
}

.img_guest {
  width: 11rem;
  height: 4rem;
}

@media (max-width: 35em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 35em) {
  html {
    font-size: 50%;
  }

  main {
    height: auto;
  }

  .logo,
  .icon-link a {
    font-size: 2rem;
  }

  .header {
    gap: 5%;
    padding: 1rem;
  }

  .main-nav-list {
    gap: 5%;
  }

  .grid--footer {
    column-gap: 3rem;
  }

  .address {
    gap: 1.2rem;
  }
}
