main {
  height: calc(100vh - 11.4rem);
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 4.8rem;
}

label {
  display: block;
  color: #10454f;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 2.4rem;
}

input {
  width: 32rem;
  height: 4.2rem;
  font-size: 3rem;
  background-color: #eaf4e4;
}

form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(177, 215, 154, 0.5);
}

button {
  margin-top: 4.8rem;
  align-self: center;
}

@media (max-width: 35em) {
  html {
    font-size: 50%;
  }

  form {
    margin-top: 18.8rem;
  }
}
