h1 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

.clinician-profile-photo {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.main {
  background-color: #e5ebef;
  flex-flow: column;
  height: calc(100vh - 11.4rem);
  padding: 3rem 10rem;
  overflow: scroll;
}

.main::-webkit-scrollbar {
  display: none;
}

.main-titles {
  display: flex;
  justify-content: space-between;
}

.main-titles h1 {
  color: #5667c8;
}

.main-titles .view-all-comments:hover,
.main-titles .view-all-comments:active {
  text-decoration: underline;
}

.manage-add-section {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.manage-add-section p {
  display: none;
  position: fixed;
  right: 1rem;
  top: 19rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #5667c8;
}

.add-patient:hover p {
  display: block;
}
.view-all-comments:link,
.view-all-comments:visited {
  color: black;
}

.add {
  height: 3.6rem;
  width: 3.6rem;
  color: #2264b1;
}

.add-patient:link,
.add-patient:visited {
  color: #2264b1;
}

/* .add-patient:hover::after {
  content: 'Add patient';
  display: block;
  position: absolute;
  right: 0;
  font-size: 1.4rem;
} */

.patient-dashboards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 4.8rem;
  /* overflow: auto; */
  justify-items: center;
  align-content: center;
}

.dashboard-patient-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: white;
  height: 25rem;
  width: 40rem;
  border-radius: 20px;
  padding: 1rem;

  box-shadow: 0 2px 2px 2px rgba(94, 142, 183, 0.1);
}

.dashboard-patient-box > .portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.dashboard-patient-box table {
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-left: 2rem;
}

.dashboard-patient-box td {
  padding: 0.7rem;
  text-align: left;
}

.patient-photo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: grey solid 0.2rem;
}

.name-and-gender {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.name-and-gender .name {
  font-size: 1.8rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.name:link,
.name:visited {
  color: #2264b1;
}
