/*

- FONT WEIGHTS:
Default: 400
Medium: 
Semi-bold: 600
Bold: 

- LINE HEIGHTS:
Default: 1
small: 
Medium: 
Large: 
Paragraph default: 1.6

- Letter spacing::after

----02 COLORS

- Primary: #e5ebef #2264B1 #5E8DB7
-Icon: 

- Tints:  
- Shades: #202b5a #707FCF
- Accents:
- Greys: #343a40 #495057 #868e96 #707070

----05 SHADOWS
box-shadow: 0 2px 2px 2px rgba(94, 142, 183, 0.1);
box-shadow: 0 0 0 0.8rem rgba(94, 142, 183, 0.4);
 

----06 BORDER-RADIUS
Default: 
Medium: 

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  line-height: 1;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

/*********************************/
/*HEADER*/
/*********************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5e8db7;
  /* Because we want header to be sticky later */
  height: 11.4rem;
  padding: 0 4.8rem;
  position: relative;
  gap: 4.5rem;
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 2rem;
  justify-content: space-evenly;
  gap: 5rem;
}

.main-nav-link {
  display: inline-block;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #000;
  font-size: 2.1rem;
}

.main-nav-link {
  color: white;
  display: inline-block;
}

.icon-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.theme_btn {
  text-decoration: none;
  border: 0;
  outline: none;
  background-color: transparent;
}

/* new */
.nav-home {
  font-weight: normal;
}

.logo-at-home {
  color: #202b5a;
}

/*********************************/
/*Breadcrumbs*/
/*********************************/
.chevron-right {
  color: #495057;
  height: 2.4rem;
}

.clinician-profile-photo {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.breadcrumbs {
  color: #2264b1;
}

.normal-weight {
  font-weight: normal;
}

.normal-weight a:link,
.normal-weight a:visited {
  color: #2264b1;
}

.normal-weight a:hover {
  color: #2264b1;
  text-decoration: underline;
}

.main {
  background-color: #e5ebef;
  flex-flow: column;
  height: calc(100vh - 11.4rem);
  padding: 3rem 10rem;
}

.main-titles {
  display: flex;
  justify-content: space-between;
  color: #5667c8;
}

.main-titles .view-all-comments:hover,
.main-titles .view-all-comments:active {
  text-decoration: underline;
}

.manage-add-section {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.manage-add-section p {
  display: none;
  position: fixed;
  right: 1rem;
  top: 19rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #5667c8;
}

.breadcrumbs {
  display: flex;
  align-items: center;
}

/*********************************/
/*GRID*/
/*********************************/

.grid {
  display: grid;
}

/*********************************/
/*OTHER LAYOUT*/
/*********************************/

.container {
  max-width: 192rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/*********************************/
/*ANCHORS & LIST*/
/*********************************/
a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

/*********************************/
/*ICONS*/
/*********************************/

.nav-icon {
  height: 3rem;
  width: 3rem;
}

.icon-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*********************************/
/*BUTTONS*/
/*********************************/
.btn {
  border: none;
  cursor: pointer;
  border-radius: 100px;
  background-color: transparent;
}

/*********************************/
/*FOOTER*/
/*********************************/
footer {
  height: 19.6rem;
  display: flex;
  background-color: #5e8db7;
}

.col--1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.col--2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grid--footer {
  display: flex;
  column-gap: 50rem;
  align-items: center;
  justify-items: center;
}

.copy-right {
  font-size: 1.2rem;
  color: #202b5a;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.address li {
  font-size: 1.8rem;
  color: #202b5a;
}

.logout button {
  border: none;
  background-color: #5e8db7;
  color: white;
  font-size: 2rem;
}
