/*********************************/
/*Responsive*/
/*********************************/
@media (max-width: 35em) {
  html {
    font-size: 50%;
  }

  body {
    position: relative;
  }

  footer {
    height: 16rem;
    position: sticky;
    bottom: 0;
  }

  .header {
    justify-content: space-between;
    padding: 0 2rem;
  }

  .back-logo {
    gap: 1rem;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    /* padding-left: 13rem; */

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 999;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    z-index: 999;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .grid--footer {
    column-gap: 3rem;
  }

  .address li {
    font-size: 1.2rem;
  }

  .logo {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .copy-right {
    font-size: 1rem;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 0;
  }

  .record-grid {
    grid-template-columns: 1fr;
    margin-left: 1rem;
  }

  .record-div {
    order: 0;
    margin: 2rem;
  }

  .record-box {
    width: 40rem;
    height: 10rem;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0;
  }

  .blood-icon,
  .step,
  .scale {
    width: 5rem;
    height: 5rem;
  }

  .needle {
    width: 5.5rem;
    height: 6rem;
  }

  .record-box div {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    align-items: center;
  }

  .comments-section {
    order: 1;
    border-left: 0;
    margin-left: 1rem;
    width: 45rem;
    height: 22rem;
  }

  .main-nav-left {
    order: 2;
    border-right: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    background-color: #f1f1f1;
    padding: 2rem;
    z-index: 1;
  }

  .comments-div {
    height: 11rem;
    overflow: scroll;
  }

  /* .main-nav-left-shade {
    display: block;
    position: absolute;
    background-color: rgb(125, 188, 87, 50%);
    width: 10rem;
    height: 10rem;
    bottom: 1rem;
    left: 40%;
    border-radius: 20px;
    z-index: 2;
  } */

  .main-nav-left li {
    flex-direction: column;
    width: 9rem;
  }
  .main-nav-left li .main-nav-link {
    font-size: 1rem;
    font-weight: bold;
  }

  .main-nav-left .home-li {
    margin-top: -0.8rem;
    margin-left: 0;
  }
  .main-nav-left-list {
    flex-direction: row;
    padding: 0;
    list-style: none;
    display: flex;
    font-size: 2rem;
    gap: 2rem;
  }
}
