/*

- FONT WEIGHTS:
Default: 400
Medium: 
Semi-bold: 600
Bold: 

- LINE HEIGHTS:
Default: 1
small: 
Medium: 
Large: 
Paragraph default: 1.6

- Letter spacing::after

----02 COLORS

- Primary: #7DBC57 #fff #10454F
-Icon: #f03e3e #2d5215 #5667c8

- Tints:  #EAF4E4 #95d04f #dff1ca #b1d79a
- Shades: #1eb75b #2d5215 #000000
- Accents:
- Greys  #343a40 #495057 #868e96

----05 SHADOWS
 

----06 BORDER-RADIUS
Default: 
Medium: 

*/

/*********************************/
/* root setting*/
/*********************************/
:root {
  --light_color: #7dbc57;
  --dark_color: #2d5215;
  --bg_color: #eaf4e4;
}

/*********************************/
/* general setting*/
/*********************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  line-height: 1;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/*********************************/
/*HEADER*/
/*********************************/

.header {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 11.4rem;
  padding: 0 4.8rem;
  background-color: var(--light_color);
  position: relative;
}

.web-logo {
  display: flex;
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
  margin: auto;
}

.logo-at-home {
  color: var(--dark_color);
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 2rem;
  justify-content: space-evenly;
}

.main-nav {
  align-self: center;
}

.back-logo {
  display: flex;
  align-items: center;
  gap: 3rem;
}
r .nav-icon {
  color: var(--dark_color);
}

.main-nav-list {
  color: var(--dark_color);
  list-style: none;
  display: flex;
  font-size: 2rem;
  gap: 5rem;
}

.main-nav-link {
  color: var(--dark_color);
  display: inline-block;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #000;
  font-size: 2.1rem;
}

.icon-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.theme_btn {
  font-size: 2rem;
  border: 0;
  outline: none;
  background-color: transparent;
  margin-top: 0;
}

/*********************************/
/*FOOTER*/
/*********************************/
footer {
  height: 19.6rem;
  display: flex;
  background-color: var(--light_color);
}

.col--1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.col--2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grid--footer {
  column-gap: 50rem;
  align-items: center;
  justify-items: center;
}

.copy-right {
  font-size: 1.2rem;
  color: #10454f;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.address li {
  font-size: 1.8rem;
  color: #10454f;
}

/*********************************/
/*GRID*/
/*********************************/

.grid {
  display: grid;
}

.grid--2 {
  grid-template-columns: repeat(2, 1fr);
}

/*********************************/
/*OTHER LAYOUT*/
/*********************************/

.container {
  max-width: 192rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/*********************************/
/*ANCHORS & LIST*/
/*********************************/
a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*********************************/
/*INPUTS*/
/*********************************/
input {
  border: none;
  border-radius: 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

textarea {
  border: none;
  border-radius: 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/*********************************/
/*ICONS*/
/*********************************/
.arrow-back {
  color: white;
  width: 3rem;
  height: 3rem;
}

.nav-icon {
  height: 3rem;
  width: 3rem;
}

.icon-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*********************************/
/*BUTTONS*/
/*********************************/
.btn {
  border: none;
  cursor: pointer;
  border-radius: 100px;
}

.btn--done {
  background-color: var(--light_color);
  width: 19rem;
  height: 5.8rem;
  font-size: 3rem;
  font-weight: 500;
  color: white;
  transition: all 0.3s;
}

.btn--done:hover,
.btn--done:active {
  color: #dff1ca;
}

/*********************************/
/*********************************/
/*Responsive Design*/
/*********************************/
/*********************************/

/* tablet size: 1200px - 560px */
/* 75em = 1200px */
@media (max-width: 75em) {
  .grid--footer {
    column-gap: 10rem;
  }

  .main-nav-list {
    gap: 1.2rem;
  }
}

/* phone size: < 560 px */
/* 35em = 560px */
@media (max-width: 35em) {
  html {
    font-size: 50%;
  }

  body {
    position: relative;
  }

  footer {
    height: 19rem;
    position: sticky;
    bottom: 0;
  }

  .header {
    justify-content: space-between;
    padding: 0 2rem;
  }

  .back-logo {
    gap: 1rem;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    /* padding-left: 13rem; */

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 999;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    z-index: 999;
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .grid--footer {
    column-gap: 3rem;
  }

  .address li {
    font-size: 1.2rem;
  }

  .logo {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .copy-right {
    font-size: 1rem;
  }
}

/*********************************/
/*INFO pages*/
/*********************************/
.subheader {
  background-color: var(--light_color) !important;
}

h1,
h2,
p {
  color: #343a40 !important;
}

.login:link,
.login:visited {
  color: var(--dark_color) !important;
}

.logout button {
  border: none;
  background-color: var(--light_color)
  color: var(--dark_color);
  font-size: 2rem;
  margin-top: 0;
}

.logout {
  margin-top: 0;
}

.logout button:hover {
  cursor: pointer;
}
