main {
  display: flex;
  height: calc(100vh - 11.4rem);
  flex-direction: column;
  background: url("../../img/login-photo.jpeg");
}

.patient-logo {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 5rem;
}

.patient-logo .patient-word-logo {
  font-size: 2rem;
  color: #2d5215;
  font-weight: bold;
  text-align: center;
  margin: auto;
  margin-left: 1rem;
  padding: 1rem;
  background-color: rgb(125, 188, 87, 0.3);
  border: #45811f 0.3rem solid;
  border-radius: 20px;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40rem;
  width: 33rem;
  background-color: rgba(218, 235, 221, 0.8);
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 15rem;
  padding: 2rem;
  border-radius: 20px;
  border: rgb(93, 93, 93) solid 0.1rem;
  box-shadow: 0px 5px 15px 0px rgba(43, 85, 40, 0.6);
  /* box-shadow: offset-x offset-y blur spread color */
}

.login-box form {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-box .input-email-box,
.login-box .input-pwd-box {
  display: flex;
  width: 26rem;
  height: 5.5rem;
  background-color: white;
  justify-content: space-around;
  padding: auto;
  margin: auto;
  border-radius: 20px;
  border: rgb(173, 173, 173) solid 0.2rem;
}

.input-pwd-box embed {
  width: 2.5rem;
}

.login-box .input-email,
.login-box .input-pwd {
  height: 5rem;
  font-size: 2rem;
  border: transparent;
}

.login-box label {
  font-size: 1.5rem;
  color: #2d5215;
  font-weight: 500;
}

.login-box .rememberThisDevice-box {
  padding-left: 2rem;
}

.login-box button {
  width: 18rem;
  height: 4rem;
  color: white;
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 800;
  background-color: rgb(69, 129, 31, 0.9);
  border: grey solid 0.1rem;
  border-radius: 20px;
}

.login-box a {
  text-decoration: underline;
  color: #2d5215;
}

.need_to_register {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2d5215;
}

.need_to_register div {
  padding: auto;
  color: #2d5215;
}

@media (max-width: 35em) {
  main {
    background: url("../../img/patient-login-pic.png");
  }
}
