/*********************************/
/*MAIN*/
/*********************************/
main {
  display: flex;
  flex-direction: row;
  background-color: white;
  position: relative;
  height: calc(100vh - 11.4rem);
}

h1 {
  font-size: 3rem;
  font-weight: lighter;
  margin: 1rem;
}

/*********************************/
/*Ranking box*/
/*********************************/
.ranking_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70rem;
  height: 65rem;
  padding: 2rem;
  margin: 20rem auto 0 auto;

  transform: scale(1.5);
}

.podium_container {
  position: relative;
}

.podium_photo {
  position: absolute;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  z-index: 1;
}

.podium_svg {
  width: 34.5rem;
  z-index: 10;
}

.no1 {
  top: -2.3rem;
  left: 13.7rem;
  border: #ead26f solid 0.3rem;
}

.no2 {
  left: 2.4rem;
  border: #bababa solid 0.3rem;
}

.no3 {
  top: 1.5rem;
  right: 2rem;
  border: #af9d54 solid 0.3rem;
}

.ranking_list {
  background-color: #e7f4de;
  width: 35rem;
  border-radius: 2.4rem;
}

.ranking_list li {
  display: flex;
  background-color: #c3dcb3;
  margin: 1rem;
  padding: 0.5rem;
  list-style-type: none;
  border-radius: 1rem;
  align-items: center;
  transition: all 0.3s;
  gap: 0.8rem;
}

.ranking_list li:hover {
  transform: scale(1.1);
}

.ranking_number {
  color: #2d5215;
  font-size: 3rem;
  font-weight: 900;
  padding: 1rem;
  width: 5.2rem;
}

.ranking_list li .ranking_photo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: grey solid 0.2rem;
}

.ranking_list li .ranking_name {
  font-size: 1.5rem;
  font-weight: 800;
  color: #2d5215;
  margin: auto;
}

.ranking_list li .ranking_data {
  font-size: 1.5rem;
  font-weight: 800;
  color: #2d5215;
  margin: auto;
}

/*********************************/
/*SIDEBAR
/*********************************/

.main-nav-left-shade {
  display: none;
}

.main-nav-left {
  align-self: flex-start;
  padding-left: 5rem;
}

.main-nav-left-list {
  list-style: none;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  font-size: 2rem;
  gap: 5rem;
  padding-top: 5rem;
  padding-right: 8rem;
}

.main-nav-left-link:hover,
.main-nav-left-link:visited {
  text-shadow: 0 1px 5px rgba(45, 82, 21, 0.3);
}

.home-li {
  margin-left: -0.7rem;
}

.rank-li {
  text-shadow: 0 1px 5px rgba(86, 103, 200, 0.5);
}

.rank-text {
  font-weight: 500;
}

.svg-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-nav-link,
.main-nav-left-link {
  color: #2d5215;
  display: inline-block;
}

.home-text {
  font-weight: normal;
}

/*********************************/
/*MOBILE NAVIGATOR*/
/*********************************/
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  justify-self: end;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #2d5215;
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}

/*********************************/
/*********************************/
/*Responsive*/
/*********************************/
/*********************************/
@media (max-width: 65em) {
  html {
    font-size: 50%;
  }

  .ranking_box {
    transform: scale(1.2);
    padding: 0;
    margin: 15rem auto 0 auto;
  }
}

@media (max-width: 35em) {
  html {
    font-size: 50%;
  }

  body {
    position: relative;
  }

  footer {
    height: 16rem;
    position: sticky;
    bottom: 0;
  }

  .header {
    justify-content: space-between;
    padding: 0 2rem;
  }

  .back-logo {
    gap: 1rem;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    /* padding-left: 13rem; */

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 999;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    z-index: 999;
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .grid--footer {
    column-gap: 3rem;
  }

  .address li {
    font-size: 1.2rem;
  }

  .logo {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .copy-right {
    font-size: 1rem;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 0;
  }

  .main-nav-left {
    order: 2;
    border-right: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    background-color: #f1f1f1;
    padding: 2rem;
    z-index: 1;
  }

  /* .main-nav-left-shade {
    display: block;
    position: absolute;
    background-color: rgb(125, 188, 87, 50%);
    width: 10rem;
    height: 10rem;
    bottom: 1rem;
    left: 40%;
    border-radius: 20px;
    z-index: 2;
  } */

  .main-nav-left li {
    flex-direction: column;
    width: 9rem;
  }
  .main-nav-left li .main-nav-link {
    font-size: 1rem;
    font-weight: bold;
  }

  .main-nav-left .home-li {
    margin-top: -0.8rem;
    margin-left: 0;
  }

  .main-nav-left-list {
    flex-direction: row;
    padding: 0;
    list-style: none;
    display: flex;
    font-size: 2rem;
    gap: 2rem;
  }

  .ranking_box {
    transform: scale(1);
    padding: 0;
    margin: 6.4rem auto;
  }

  .ranking_list {
    width: 40rem;
  }
}
